<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container">
    <h1>Registrierung</h1>
    <p>Bitte geben Sie Ihre Daten für die Registrierung an</p>
    <hr>
    <form (ngSubmit)="onSubmit(registerForm)" #registerForm="ngForm">
      <label for="fname"><b>Vorname</b></label>
      <input type="text" placeholder="Nachname eingeben" name="firstname" id="firstname" required [(ngModel)]="user.firstname" #lname="ngModel">

      <label for="lname"><b>Nachname</b></label>
      <input type="text" placeholder="Nachname eingeben" name="lastname" id="lastname" required [(ngModel)]="user.lastname" #lname="ngModel">

      <label for="uname"><b>Benutzername</b></label>
      <input type="text" placeholder="Benutzername eingeben" name="username" id="username" required [(ngModel)]="user.username" #uname="ngModel">

      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Email eingeben" name="email" id="email" required [(ngModel)]="user.email" #email="ngModel">

      <label for="psw"><b>Passwort</b></label>
      <input type="password" placeholder="Passwort eingeben" name="password" id="password" required [(ngModel)]="user.password" #psw="ngModel">
      <hr>
      <button type="submit" class="registerbtn">Registrieren</button>
    </form>
  </div>
</body>
</html>
