.flowers-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.flower-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  width: 200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.flower-card img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

a{
  text-decoration: underline;
  color: #f04f9f;
}

.topnav {
  overflow: hidden;
  background-color: palevioletred;
  text-align: left;
  padding: 8px 16px;
}

/* Style the links inside the navigation bar */
.topnav img {
  vertical-align: middle;
  margin-left: 16px;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  padding: 6px;
  border: none;
  font-size: 17px;
  width: calc(100% - 64px);
  margin-right: 8px;
}
